<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>Edit Book</h1>
    <p>Name:</p>
    <form method='POST'>
        <input type='text' size='30' name='name'>
        <input type='submit' value='Edit'>
        <a href="{{url_for('showBook')}}">Cancle</a>
    </form>
    </body>
</html>
